/* Mulish and Inter google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Mulish:wght@400;700;800&display=swap');

/* shared styles */
.container {
    max-width: 1170px;
    margin: 0 auto;
}

* {
    font-family: 'Inter';
    font-family: 'Mulish';
}

/* header styles */
/* nav styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    display: flex;
    gap: 10px;
    color: #131318;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 800;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
}